@model SV22T1020375.Models.Catalog.ProductAttribute

<div class="card card-primary card-outline shadow-sm">
    <div class="card-header">
        <h5 class="card-title">@ViewBag.Title</h5>
    </div>
    <div class="card-body">
        <form action="~/Product/SaveAttribute" method="post">
            <input type="hidden" asp-for="ProductID" />
            <input type="hidden" asp-for="AttributeID" />

            <div class="mb-3">
                <label class="form-label fw-bold">Tên thuộc tính:</label>
                <input type="text" class="form-control" asp-for="AttributeName" autofocus />
                <span asp-validation-for="AttributeName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Giá trị:</label>
                <input type="text" class="form-control" asp-for="AttributeValue" />
                <span asp-validation-for="AttributeValue" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Thứ tự hiển thị:</label>
                <input type="number" class="form-control" asp-for="DisplayOrder" min="1" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Lưu dữ liệu</button>
                <a href="~/Product/Edit/@Model.ProductID" class="btn btn-secondary">Hủy bỏ</a>
            </div>
        </form>
    </div>
</div>