@model SV22T1020375.Models.Sales.OrderViewInfo
@{
    Layout = null;
}
<div class="modal-header text-bg-info">
    <strong class="modal-title">
        Chọn người giao hàng
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <form method="post" action="~/Order/Shipping/@Model.OrderID" id="formShipping">
        <div class="row">
            <div class="col-12">
                <label class="form-label">Người giao hàng</label>
                <select class="form-select" name="shipperID">
                    <option value="0">-- Chọn người giao hàng --</option>
                    <option value="1">Giao hàng Tiết kiệm</option>
                    <option value="2">Tín Thành</option>
                    <option value="3">Viettel Express</option>
                </select>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-primary" form="formShipping">
        <i class="bi bi-bicycle"></i> Giao hàng
    </button>
    <button type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
        Đóng
    </button>
</div>